@model ChurchGivingRecorder.Models.GiversReportData
@{
    ViewData["Title"] = "GiversReport";
    Layout = "/Views/Shared/_LayoutReport.cshtml";
}

<h1>Givers Report</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    <hr />

    <div class="container">
        @foreach (var giverTotal in Model.GiverTotals)
        {

            <div class="row pb-3">
                <div class="col">
                    <h3>@Html.DisplayFor(modelItem => giverTotal.GiverName)</h3>
                </div>

                <div class="container">
                    @foreach (var data in giverTotal.Data)
                    {
                        <div class="row">
                            <div class="col">@Html.DisplayFor(dataItem => data.Key)</div>
                            <div class="col text-right">@Html.DisplayFor(dataItem => data.Value)</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col font-weight-bold">Total</div>
                        <div class="col font-weight-bold text-right">@Html.DisplayFor(giverTotalItem => giverTotal.Total)</div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col font-weight-bold" style="font-size: 1.2rem;">Total</div>
            <div class="col font-weight-bold text-right" style="font-size: 1.2rem;">@Html.DisplayFor(m => Model.Total)</div>
        </div>
    </div>

</div>